header {
    background-color: #337ab7;
    border-bottom-style: solid ;
    border-color: #074c88;
    color:white;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
    width: 100%;
}

ul{
    margin-left: 3%;
    list-style: none;
}

a:link{
    color:white;
    text-decoration: none;
}

a:hover{
    color: wheat;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

header input{
    border-style: none;
    float: right;
    width:50px;
    height: 50px;
}

.add{
    float: right;
    width:50%;
    margin-top: -3%;
    margin-right: 5%;
}

.lo{
    width: fit-content;
    float:right;

}

.lo input{
    background-color:#337ab7 ;
    color:white;
    font-size:60%;
    width: 150%;
}
